.fresh-template {
  height: 4.44rem;
  padding: 0 0.15rem 0.3rem;
  img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 0.1rem;
  }
  .left {
    float: left;
    height: 100%;
    width: 2.77rem;
    box-sizing: border-box;
  }
  .right {
    margin-left: 2.87rem;
    .item1 {
      height: 2.21rem;
      margin-bottom: 0.15rem;
    }
    .item-inner {
      height: 2.08rem;
      .item2,
      .item3 {
        height: 2.08rem;
        width: 2.08rem;
      }
      .item2 {
        float: left;
      }
      .item3 {
        float: right;
      }
    }
  }
}
